<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin: 0;">
        <div id="header">
            <header id="title">Rice Planner - Ibrahim Al-Akash</header>
        </div>

        <div class="topnav" style="box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);">
            <a href="/" style="display: flex; align-items: center; justify-content: center; padding: 13px"><span class="material-icons" style="font-size: 20px; margin: auto;">home</span></a>
            <a class="active" href="/calendar" style="display: flex; align-items: center; justify-content: center; padding: 13px"  onclick="hideAll()"><span class="material-icons" style="font-size: 20px; margin: auto;">calendar_month</span></a>
            <% for (course of classes) {%>
                <a href="/course?name=<%= course.name %>" onclick="hideAll()"><%= course.name %></a>
            <% } %>
            <a href="/gpa">GPA</a>
            <a id="add_course" onclick="openCourseForm()" style="display: flex; align-items: center; justify-content: center;cursor: pointer;">
                <span class="material-icons" style="margin-right: 5px; font-size: 18px;">add_circle_outline</span>
                  Add Course
            </a>
        </div>
        <div style="align-self: center; align-items: center; justify-content: center; display: flex; margin-top: 5vh;">
            <iframe src="https://calendar.google.com/calendar/embed?src=isa1%40rice.edu&ctz=America%2FChicago" style="border: 0" width="1600" height="720" frameborder="0" scrolling="no"></iframe>        <script src="planner.js"></script>

        </div>
        <script src="course.js"></script>
        <script src="todo.js"></script>
    </body>
</html>